$themes: (
  blue: (
    primary-color: #2f4050,
    primary-light: #a7b1c2,
    primary-dark: #293846,
    secondry-color: #3f80be,
    third-color: #f8ac59,
    headerBg: #fff,
    body-bg: #f3f3f4,
    selected: #fafafa
  ),

  green: (
    primary-color: #27302c,
    primary-dark: #191f1c,
    secondry-color: #39a655,
    headerBg: #fff,
    body-bg: #edf5f2
  ),
  
);