$themes: (
        blue: (
                primary-color: #2f4050,
                primary-light: #a7b1c2,
                primary-dark: #293846,
                secondry-color: #3f80be,
                secondry-dark: #35679b,
                third-color: #f8ac59,
                third-dark: #eba256,
                headerBg: #fff,
                body-bg: #f3f3f4,
                selected: #fafafa
        ),
        green: (
                primary-color: #27302c,
                primary-light: #b2c0ba,
                primary-dark: #191f1c,
                secondry-color: #60A649,
                secondry-dark: #348744,
                third-color: #FF7B57,
                third-dark: #eb7750,
                headerBg: #fff,
                body-bg: #edf5f2,
                selected: #fafafa
        ),
        purple: (
                primary-color: #2f4050,
                primary-light: #a7b1c2,
                primary-dark: #293846,
                secondry-color: #3f80be,
                secondry-light: #4ae178,
                third-color: #f8ac59,
                headerBg: #fff,
                body-bg: #f3f3f4,
                selected: #fafafa
        ),
);