$themes: (
        blue: (
                primary-color: #2f4050,
                primary-light: #a7b1c2,
                primary-dark: #293846,
                secondry-color: #3f80be,
                secondry-dark: #35679b,
                third-color: #f8ac59,
                third-dark: #eba256,
                headerBg: #fff,
                body-bg: #f3f3f4,
                selected: #fafafa
        ),
        green: (
                primary-color: #27302c,
                primary-light: #b2c0ba,
                primary-dark: #191f1c,
                secondry-color: #60A649,
                secondry-dark: #348744,
                third-color: #FF7B57,
                third-dark: #eb7750,
                headerBg: #fff,
                body-bg: #edf5f2,
                selected: #fafafa
        ),
        purple: (
                primary-color: #312e34,
                primary-light: #a7b1c2,
                primary-dark: #1d1b1f,
                secondry-color: #9d72bc,
                secondry-dark: #875ea5,
                third-color: #f8ac59,
                third-dark: #eba256,
                headerBg: #fff,
                body-bg: #f4f2f6,
                selected: #fafafa
        ),
        red: (
                primary-color: #262020,
                primary-light: #c2a7a7,
                primary-dark: #171414,
                secondry-color: #cc5050,
                secondry-dark: #ad4747,
                third-color: #37b4aa,
                third-dark: #2d9187,
                headerBg: #fff,
                body-bg: #f3eeee,
                selected: #fafafa
        ),
);