.card{
  .card-body{
    .profile-pic{
      width: 50px;
      height: 50px;
      @include border-radius(50px);
    }
    .profiles{
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

.btn-group-toggle{
  label{
    &.active{
      @include themify($themes) {
        border-top: solid 3px themed('secondry-color');
      }

    }
  }
}

label{
  &.input-group-text{
    font-size: 14px;
  }
}

.nav-pills{
  &>.nav-item{
    &>.nav-link{
      &.active{
        background-color: transparent;
        border-radius: 0;
        @include themify($themes) {
          background-color: #f5f5f5;
          color: themed('primary-color');
          border-bottom: 1px solid themed('primary-color');
        }
      }
    }
  }
}

.bootstrap-datetimepicker-widget a[data-action]{
  padding: 6px 0;
  height: auto !important;
  box-shadow: none;
}

.keyword-highlight{
  font-size: 12px;
  font-weight: normal;
  @include themify($themes) {
    background-color: themed('third-color');
  }
  padding: .15em .2em;
}

.profile-pic-lg{
  img{
    width: 40px !important;
    height: 40px !important;
  }
}

.resources{
  .resource{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 30px;

    @include border-radius(5px);

    &:hover{
      .pic{
        img{
          @include drop-shadow(0px 3px 10px 0px rgba(0, 0, 0, 0.2));
        }
      }
    }

    .pic{
      width: 200px;
      height: 200px;
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      img{
        max-width: 200px;
        height: 200px;
        width: 200px;
        @include drop-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.3));
      }
    }

    .title{
      margin-top: 20px;
      font-size: 16px;
      font-weight: bold;
    }
    .created-by{
      font-size: 10px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    .status{
      margin-bottom: 10px;
    }
    .actions{
      a{
        margin-left: 5px;
        margin-right: 5px;
      }
    }

  }
}
