.custom-file-label{
  min-height: 40px;
  line-height: 1.6rem;

  &::after{
    min-height: 38px;
    border-radius: 0;
    line-height: 1.6rem;
  }
}
.form-feild-info{
  font-size: 10px;
  margin-top: 3px;
}