.custom-file-label{
  min-height: 40px;
  line-height: 1.6rem;

  &::after{
    min-height: 38px;
    border-radius: 0;
    line-height: 1.6rem;
  }
}
.form-feild-info{
  font-size: 11px;
  margin-top: 3px;
  margin-bottom: 5px;

  @include themify($themes) {
    color: themed('primary-light');
  }
}

.text-editor{
  height: 300px;
}

.form-row-separated{
  border-bottom: solid 1px #e9ecef;
}

#message-template-email-subject{
  input{
    min-height: 10px !important;
    height: 10px;
  }
}

select{
  option{
    &::selection{
      @include themify($themes) {
        background-color: themed('primary-light');
      }
    }
  }
}

.form-control{
  &.normal-padding{
    padding: 0.3rem;
  }
}

.custom-select{
  height: 40px;
}